.App {
  text-align: left;
}

.App-header {
  background-color: #fff;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 3vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    font-family: Nunito, sans-serif;
    margin: 0 auto;
    background-color: #fff;
   
}

h2{
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 1em;
    line-height: 0.5em;
    width: 50vmin;
}

.fa {
    font-size: 30px;
    cursor: pointer;
    color: #000;
    user-select: none;
  }
  
  .fa:hover {
    color: darkblue;
  }

.content{ 
    width: 50vmin;
    margin: 10px; 
    padding: 15px;
    background-color: #eee; 
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

#stories{ 
    width: 50vmin;
    height: 90px;
    margin: 5px; 
    padding: 15px;
    background-color: #eee; 
    overflow:scroll;
    scroll-behavior: smooth;
    scroll-padding: 1px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
}

.circle{
   width: 55px;
   display: inline-block;
   padding: 5px;
}

.circle p{
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  margin-top: -5px;
}

.story{
    width: 35px;
    height: 35px;
    padding: 4px;
    margin: 4.25px;
    border-radius: 100px;
    border: 3px solid rgb(151, 67, 25);
}

.story:hover{
    border: 3px solid rgb(99, 151, 25);
    transition: 1s ease-in-out;
}

h4{
  font-size: 2vmin;
  text-align: center;
  line-height: 0.1em;
  text-transform: none;
  color: #555;
  width: 50vmin;
}

section img{
    width: 50vmin;
    border-radius: 10px;
}

section p{
    font-size: 2vmin;
    line-height: 0.1em;
    color: #555;
}

section h5{
    font-size: 2vmin;
    line-height: 0.1em;
    text-transform: capitalize;
    color: #000;
}

section h6{
    font-size: 2vmin;
    line-height: 0.1em;
    text-transform: capitalize;
    color: #000;
}

button{
    border: none;
}